# Ignore examples from JsPsych
public/jspsych/examples

# (Temporarily) ignore dist from JsPsych
public/jspsych/dist

# Ignore DS_Store
.DS_Store

# Ignore practice html
public/practice.html

# Ignore three mood induction videos (since they are too large)
# Instead directly upload them to Cognition.run (and also store them on Google Drive)
public/videos/positive_valence_high_arousal.mp4
public/videos/positive_valence_low_arousal.mp4
public/videos/neutral.mp4